<!DOCTYPE html>
<hmtl lang = "es">
	{% block content %}
    <head>
        <title>Cambio hecho</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    </head>
    <body>
       <h1> Pedidos a cobrar </h1>
       {%for V in Valores%}
       		{%for p in pedidos%}
       			{%if V == p.NumPedido %}
       				Total a pagar: ${%print p.Total%} del pedido número {%print p.NumPedido%}<br>
       			{%endif%}
       		{%endfor%}
       {%endfor%}
       <br><br>
       <form action = "http://127.0.0.1:5000/listadonocobrados" method = "post" class= "container">
       		<input type = "hidden" name = "DNI" placeholder = "DNI" value={{DNI}} />
       		<DIV ALIGN=center><button class="boton_personalizad" type = "submit" value = "Volver"/>Finazilar cobro</button></DIV>
            </form>
	</body>
   </body>
{% endblock %}